@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>GeocachingHQ Skills Test API</h1>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h3>Welcome!</h3>
        <p>
            This is a simple API built using Entity Framework 6 in .NET6.0 using MVC architecture.
            It was created as part of a skills assessment for GeoCachingHQ.
        </p>
        <p>Use the navigation in the header to explore or <a href="https://github.com/joshhaddock88/GeocacheHQTest">Check out the repo!</a></p>
    </div>
    <div class="col-md-4">
        <h3>Create a Geocache</h3>
        <p>This application allows you to create a geocache entry in a database from scratch. 
            All you need is a creative name and some GPS coordinates.
            It also allows you to access other geocaches already stored within the database,
            look at their coordinates, and whatever active items are currently stored in them.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Create Unique Items</h3>
        <p>
            You're also able to create unique items. When creating an item you can then assign it to a geocache,
            and save the date the item went was first active, and the last time it was accessed.
            If an item isn't activated for 30 days, the database will automatically set the item as inactive,
            or if you know that an item has been damaged or taken out of the field, you can also manually
            set an item as inactive.
        </p>
    </div>
</div>
